---
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import About from "../components/About.astro";
import Navbar from "../components/Navbar.astro";
import Conseguir from "../components/Conseguir.astro";
import AppRandom from "../components/AppRandom.astro";
---

<Layout title="The Random Book">
  <main>
    <Navbar />
    <Hero />
    <About />
    <Conseguir />
    <AppRandom />
  </main>
</Layout>

<style>
  main {
    margin: 0;
    padding: 0;
  }
</style>
