---

---

<div id="descarga" class="part2">
  <div class="card">
    <p>Conseguilo aca</p>
  </div>
</div>

<style>
  .part2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: "Space Grotesk", sans-serif;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 2rem;
    border-radius: 0.5rem;
    background-color: #f5f5f5;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  }
</style>
