---

---

<div id="descarga" class="part2">
  <div class="card">
    <p>
      Este libro es totalmente <strong>gratuito</strong>. Pero aceptamos
      <strong>donaciones</strong> en mercadopago para ayudarnos a seguir creciendo.
    </p>
    <div class="donacion">
      <img class="mercadopago" src="mercadopago.webp" alt="" />
      <div class="alias">
        <p>Alias: <strong>randombook</strong></p>
        <p>CVU: <strong>000000310002125639365</strong></p>
      </div>
    </div>
    <a
      title="Descargar"
      target="_blank rel=noopener noopener noreferrer"
      href="https://cutt.ly/xeDN0rw5"><i class="bi bi-download"></i></a
    >
  </div>
</div>

<style>
  .part2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: "Space Grotesk", sans-serif;
  }

  .donacion {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .mercadopago {
    width: 20vw;
  }

  a {
    text-decoration: none;
    color: black;
    font-size: 4rem;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 2rem;
    border-radius: 0.5rem;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  }

  @media (max-width: 768px) {
    .alias {
      text-wrap: wrap;
    }

    .donacion {
      flex-direction: column;
      text-align: center;
    }
  }
</style>
