---

---

<div id="hero" class="hero">
  <h1 class="title">The Random Book</h1>
</div>

<style>
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: RANDOM;
  }

  h1 {
    font-size: 4rem;
    animation: slideDown 1.5s ease-in-out;
  }

  @keyframes slideDown {
    0% {
      transform: translateY(-100vh);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @media (max-width: 768px) {
    .title {
      font-size: 2rem;
      text-wrap: wrap;
    }
  }

  @media (max-width: 480px) {
    .title {
      font-size: 1.5rem;
    }
  }
</style>
